obj/
bin/
Properties/
.vs/
*.slnx
*.sln
*.user
*.nuget.props
*.nuget.targets
packages/
Thunderstore/TTS-Company/TTS-Company-Voices/
Thunderstore/TTS-Company/PiperTTS/
Thunderstore/TTS-Company/*.zip
Thunderstore/TTS-Company/*.dll